.conversations-with-messages-wrapper {
    height: 80vh;
    width: 96vw;
    display: flex;
}

.conversations-list {
    height: 100%;
    width: 40%;
    flex-shrink: 0;
}

.messages {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.messages-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.message-header-wrapper {
    height: 70px;
    width: 100%;
    flex-shrink: 0;
}

.message-list-wrapper {
    flex: 1;
    min-height: 0;
    width: 100%;
    overflow-y: auto;
}

.message-composer-wrapper {
    height: 90px;
    width: 100%;
    flex-shrink: 0;
}

.thread-replies {
    height: 100%;
    width: 70%;
    flex-shrink: 0;
}