.chat-popover__content {
    position: fixed;
    height: fit-content;
    width: fit-content;
    z-index: 2;
    border-radius: var(--chat-radius-5, 16px);
    border: 1px solid var(--chat-border-color-light, #F5F5F5);
    background: var(--chat-background-color-01, #FFF);
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
}

.chat-popover__content-tooltip-top,
.chat-popover__content-tooltip-bottom {
  position: absolute;
  width: 100%;
  height: 6px;
  background: var(--chat-static-black, #141414);
  -webkit-mask: url("../../assets/tooltip.svg") center center no-repeat;
  -webkit-mask-size: contain;
}

.chat-popover__content-tooltip-top {
  bottom: -7px;
}

.chat-popover__content-tooltip-bottom {
  transform: rotate(180deg);
  top: -7px;
}