.members-container {
    padding: 1rem;
    font-family: 'Arial', sans-serif;

    .search-box {
        position: relative;
        margin-bottom: 1rem;

        input {
            width: 100%;
            padding: 0.75rem 2.5rem 0.75rem 1rem;
            border-radius: 9999px;
            border: none;
            background-color: #f4f4f4;
            padding-left: 40px;
            font-size: 1rem;
            box-sizing: border-box;
        }

        .search-icon {
            position: absolute;
            left: 10px;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
        }
    }

    .member {
        display: flex;
        align-items: center;
        padding: 0.75rem 0;
        border-bottom: 1px solid var(--chat-border-color-light);
        position: relative;

        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 1rem;
        }

        .role-badge {
            background-color: #7a57e9;
            color: white;
            padding: 0.2rem 0.8rem;
            border-radius: 9999px;
            font-size: 0.75rem;
        }
    }
}

.menu-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.menu {
    position: absolute;
    right: 0;
    top: 40px;
    background: white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    border-radius: 10px;
    z-index: 10;
    width: 160px;
}

.menu-item {
    padding: 10px 16px;
    cursor: pointer;
    white-space: nowrap;
}

.menu-item:hover {
    background-color: #f2f2f2;
}

.info {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 10px;

    .name {
        font-weight: bold;
        color: var(--chat-text-primary-color);
    }
}

.online-dot {
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 50%;
    background-color: #00c853;
    margin-left: 0.5rem;
}


.change-scope-popover {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    z-index: 1002;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-container {
    background: white;
    padding: 2rem;
    border-radius: 20px;
    width: 400px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.icon-circle {
    background: #f1edff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    font-size: 24px;
    color: #7744ff;
}

h2 {
    margin-top: 1rem;
    font-weight: bold;
}

.description {
    color: gray;
    margin-bottom: 1.5rem;
}

.scope-options {
    border: 1px solid #f0f0f0;
    border-radius: 12px;
    overflow: hidden;
}

.scope-option {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.scope-option:last-child {
    border-bottom: none;
}

.scope-option.selected {
    background-color: #f6f3ff;
}

.scope-label {
    font-weight: bold;
    text-transform: capitalize;
}

.custom-radio {
    accent-color: #7744ff;
    transform: scale(1.4);
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.cancel-btn,
.save-btn {
    flex: 1;
    padding: 0.8rem;
    margin: 0 0.5rem;
    border-radius: 12px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.cancel-btn {
    background: white;
    border: 1px solid #ddd;
}

.save-btn {
    background-color: #eee;
    color: #aaa;
}

.save-btn:not(:disabled) {
    background-color: #7744ff;
    color: white;
}