.members-container {
    padding: 1rem;
    font-family: 'Arial', sans-serif;
    .member {
      display: flex;
      align-items: center;
      padding: 0.75rem 0;
      border-bottom: 1px solid var(--chat-border-color-light);
      position: relative;
  
      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 1rem;
      }
  
      .close-button {
        background-color: #7a57e9;
        color: white;
        padding: 0.2rem 0.8rem;
        border-radius: 9999px;
        font-size: 0.75rem;
      }
    }
  }
  .empty-view{
    height:300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--chat-text-primary-color);
  }

  .info {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 10px;
    .name {
      font-weight: bold;
    }
  }

  .online-dot {
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 50%;
    background-color: #00c853;
    margin-left: 0.5rem;
  }