.thread-replies-wrapper {
    height: 100%;
    background-color: var(--chat-background-1);
    display: flex;
    flex-direction: column;
}

.thread-replies-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    border-bottom: 1px solid #d7d7d7;
    flex-shrink: 0;
}

.thread-replies-title {
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
    color: var(--chat-text-primary-color);
}

.chat-message-list__bubble-date-header {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    flex-shrink: 0;
}

.date-separator {
    border-radius: 4px;
    border: 1px solid whitesmoke;
    background: white;
    padding: 6px;
    font-weight: 600;
    font-size: 14px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.parent-bubble {
    padding: 0 10px;
    flex-shrink: 0;
}

.thread-footer {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 4px 20px;
}

.replies-count {
    color: #d7d7d7;
    font-size: 14px;
    font-family: 'Roboto Inter';
}

.divider-line {
    height: 1px;
    width: 70%;
    background-color: #E8E8E8;
}

.list-wrapper {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    background-color: white;
}