.users-with-messages-wrapper{
    height: 80vh;
    width: 96vw;
    display: flex;
}

.users-list{
    height: 100%;
    width: 40%;
}

.messages{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.messages-content{
    width: 100%;
}
.message-list-wrapper {
    flex: 1;
    min-height: 0;
    width: 100%;
    overflow-y: auto;
}
.message-header-wrapper{
    height: 70px;
    width: 100%;
}

.message-composer-wrapper{
    height: 90px;
    width: 100%;
}

.thread-replies{
    height: 100%;
    width: 70%;
}