<router-outlet />
<app-outgoing-call></app-outgoing-call>
<app-incoming-call></app-incoming-call>

<div id="ELEMENT_ID" style="
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
z-index: 10;
" [style.display]="callActive ? 'block' : 'none'">
</div>
<!-- app.component.html -->
<ng-template #textMessageTemplate let-message>
    <div class="text-msg" style="color: red;" [innerHTML]="message?.getData()?.text  | formatMentions:message.getData().mentions">
        
    </div>
</ng-template>

<div *ngIf="showFullScreenImageView" style="position: fixed; top: 0; left: 0; z-index: 1000;">
    <app-fullscreen-viewer (ccCloseFullscreenView)="closeCallBack()"
        [loggedInUserUID]="user?.getUid()"></app-fullscreen-viewer>
</div>