[data-theme="dark"] {
    --chat-primary-color: #6852D6;
    --sidebar-background-color: black;
    --chat-secondary-color: #383838;
    --chat-text-primary-color: white;
    --chat-background-1: #141414;
    --chat-background-2: #272727;
    --chat-selected-background: #383838;
    --chat-white-hover: #1a1a1a;
    --chat-border-color-light: #272727;
    --chat-neutral-color: #363636;
  }