:root{
    --chat-primary-color: #6852D6;
    --sidebar-background-color: white;
    --chat-secondary-color: white;
    --chat-text-primary-color: black;
    --chat-background-2: #f5f5f5;
    --chat-selected-background: #e8e8e8;
    --chat-white-hover: #fafafa;
    --chat-background-1: white;
    --chat-border-color-light: #d7d7d7;
    --chat-neutral-color: #dcdcdc;
}