.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px 16px 0 16px;
    justify-content: space-between;
    box-sizing: border-box;
}

.users-container{
    height: calc(100% - 100px);
    width: 100%;
    overflow: scroll;
}
.header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;

    h2 {
        margin: 0;
        font-size: 20px;
    }
}

.back-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.custom-checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.custom-checkbox input[type='checkbox'] {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}
.content-header-wrapper{
    height: 100%;
}

.custom-checkbox .checkmark {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    border: 2px solid #ccc;
    border-radius: 8px;
    display: inline-block;
    transition: 0.3s;
}

.custom-checkbox input:checked+.checkmark {
    background-color: #7b5dfd;
    border-color: #7b5dfd;
    background-image: url('data:image/svg+xml;utf8,<svg fill="white" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M20.285 6.708l-11.429 11.429-5.143-5.143 1.429-1.429 3.714 3.714 10-10z"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

.search-box {
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #f1f1f1;
    margin-bottom: 16px;
    width: 100%;
    box-sizing: border-box;
}

.user-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 4px;
    cursor: pointer;
    box-sizing: border-box;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: #d1c4e9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    margin-right: 12px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.initials {
    font-size: 16px;
}

.name {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}

.add-btn {
    padding: 12px;
    background: #6c47ff;
    color: white;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    width: calc(100% - 32px);
    box-sizing: border-box;
}