.chat-media-recorder__recording,
.chat-media-recorder__recorded {
    display: flex;
    width: 260px;
    height: inherit;
    padding: var(--chat-padding-5, 20px);
    flex-direction: column;
    align-items: center;
    gap: var(--chat-padding-5, 20px);
    border-radius: var(--chat-radius-4, 16px);
    border: 1px solid var(--chat-border-color-light, #F5F5F5);
    background: var(--chat-background-color-01, #FFF);
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
}

.chat-media-recorder__recording{
    justify-content: space-between;
}
.chat-media-recorder {
    width: max-content;
}

.chat-media-recorder .chat-audio-bubble {
    padding-bottom: var(--chat-padding-2);
    max-width: 100%;
    width: 100%;
}


.chat-media-recorder .chat-media-recorder__recorded{
    justify-content: space-between;
    max-height: 300px;
    min-height: 220px;
    box-sizing: border-box;
  }
  

.chat-media-recorder .chat-audio-bubble .chat-audio-bubble__tail-view {
    display: none;
}



.chat-media-recorder .chat-audio-bubble .chat-audio-bubble__body {
    flex-direction: row;
    gap: var(--chat-padding-2);
    justify-content: space-between;
    align-items: center;
    padding-right: 0;
}

.chat-media-recorder__recording-control,
.chat-media-recorder__recorded-control {
    display: flex;
    align-items: center;
    gap: 20px;
}

.chat-media-recorder__recording-preview {
    display: flex;
    width: 120px;
    flex-direction: column;
    align-items: center;
    gap: var(--chat-padding-1, 4px);
}

.chat-media-recorder__recorded-preview {
    display: flex;
    width: 260px;
    padding: var(--chat-padding-2, 8px) 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    border-radius: var(--chat-radius-3, 12px);
    background: var(--chat-primary-color, #6852D6);
}

.chat-media-recorder__recording-control-delete,
.chat-media-recorder__recorded-control-delete,
.chat-media-recorder__recording-control-stop,
.chat-media-recorder__recorded-control-record {
    display: flex;
    width: 40px;
    cursor: pointer;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: var(--chat-background-color-01, #FFF);
    border-radius: var(--chat-radius-max, 1000px);
    border: 1px solid var(--chat-border-color-light, #F5F5F5);
    box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.10), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
}

.chat-media-recorder__recording-control-stop-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    mask: url("../../../assets/stop.svg") center center no-repeat;
    -webkit-mask: url("../../../assets/stop.svg") center center no-repeat;
    background: var(--chat-icon-color-secondary, #A1A1A1);
    -webkit-mask-size: contain;
    mask-size: contain;
}

.chat-media-recorder__recording-control-delete-icon,
.chat-media-recorder__recorded-control-delete-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    -webkit-mask: url("../../../assets/delete.svg") center center no-repeat;
    mask: url("../../../assets/delete.svg") center center no-repeat;
    background: var(--chat-icon-color-secondary, #A1A1A1);
    -webkit-mask-size: contain;
    mask-size: contain;
}

.chat-media-recorder__recorded-control-record-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    -webkit-mask: url("../../../assets/recording_resume.svg") center center no-repeat;
    mask: url("../../../assets/recording_resume.svg") center center no-repeat;
    background: var(--chat-icon-color-secondary, #A1A1A1);
    -webkit-mask-size: contain;
    mask-size: contain;
}

.chat-media-recorder__recording-control-record,
.chat-media-recorder__recording-control-pause,
.chat-media-recorder__recorded-control-send {
    display: flex;
    cursor: pointer;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: var(--chat-radius-max, 1000px);
    border: 1px solid var(--chat-border-color-light, #F5F5F5);
    background: var(--chat-background-color-01, #FFF);
    box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.10), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
}
.chat-media-recorder__recording-control-error>.chat-media-recorder__recording-control-record-icon,
.chat-media-recorder__recording-control-record-icon {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.chat-media-recorder__recording-control-record-icon {
    -webkit-mask: url("../../../assets/recording_resume.svg") center center no-repeat;
    mask: url("../../../assets/recording_resume.svg") center center no-repeat;
    background: var(--chat-error-color, #F44649);
}

.chat-media-recorder__recording-control-error>.chat-media-recorder__recording-control-record-icon {
    -webkit-mask: url("../../../assets/mic_off.svg") center center no-repeat;
    mask: url("../../../assets/mic_off.svg") center center no-repeat;
    background: var(--chat-text-color-tertiary, #A1A1A1);
}

.chat-media-recorder__recording-control-error {
    pointer-events: none;
}
.chat-media-recorder__recording-control-pause-icon {
    -webkit-mask: url("../../../assets/pause.svg") center center no-repeat;
    mask: url("../../../assets/pause.svg") center center no-repeat;
    background: var(--chat-error-color, #F44649);
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.chat-media-recorder__recorded-control-send-icon {
    -webkit-mask: url("../../../assets/send_fill.svg") center center no-repeat;
    mask: url("../../../assets/send_fill.svg") center center no-repeat;
    background: var(--chat-icon-color-highlight, #6852D6);
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.chat-media-recorder__recording-preview-recording,
.chat-media-recorder__recording-preview-paused {
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: var(--chat-radius-max, 1000px);
    background: var(--chat-icon-color-highlight, #6852D6);
}

.chat-media-recorder__recording-preview-recording-icon,
.chat-media-recorder__recording-preview-paused-icon {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    background: var(--chat-icon-color-white, #FFFFFF);
    -webkit-mask: url("../../../assets/recording_icon.svg") center center no-repeat;
    mask: url("../../../assets/recording_icon.svg") center center no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.chat-media-recorder__recording-preview-disabled {
    opacity: 0.2;
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: var(--chat-radius-max, 1000px);
    background: var(--chat-icon-color-highlight, #6852D6);
}

.chat-media-recorder__recording-preview-disabled-icon {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    background: var(--chat-icon-color-white, #FFFFFF);
    -webkit-mask: url("../../../assets/recording_icon.svg") center center no-repeat;
    mask: url("../../../assets/recording_icon.svg") center center no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.chat-media-recorder__recording-preview-duration {
    align-self: stretch;
    color: var(--chat-text-color-primary, #141414);
    text-align: center;
    font: var(--chat-font-heading4-regular, 400 16px Roboto);
    line-height: 120%;
}
.chat-media-recorder__error {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: var(--chat-background-color-02, #FAFAFA);
    border-radius: var(--chat-radius-4) var(--chat-radius-4) 0px 0px;
    padding: var(--chat-padding-2);
    gap: var(--chat-padding-2);
    width: 260px;
    position: absolute;
    z-index: 2;
    bottom: 100%;
}

.chat-media-recorder__error-content {
    display: flex;
    flex-direction: column;
    gap: var(--chat-padding-1);
}

.chat-media-recorder__error-content-title {
    font: var(--chat-font-caption1-bold);
}

.chat-media-recorder__error-content-subtitle {
    font: var(--chat-font-caption1-regular);

}

.chat-media-recorder__error-content-title,
.chat-media-recorder__error-content-subtitle {
    text-align: left;
    color: var(--chat-text-color-secondary, #727272);

}

.chat-media-recorder__error-icon-wrapper {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--chat-error-color);
    border-radius: var(--chat-radius-max);
}

.chat-media-recorder__error-icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    background: var(--chat-static-white);
    -webkit-mask: url("../../../assets/error_info.svg") center center no-repeat;
    mask: url("../../../assets/error_info.svg") center center no-repeat;
    -webkit-mask-size: contain;
    transform: rotate(180deg);
    mask-size: contain;
}